{%extends "layout.html"%}
{%block content%}

<div class="projects">
  <h2>Completed</h2>
    <h3>Lusight Research</h3>
      <article> Exclusively accountable for all strategies and processes related to the weekly deployment of three platforms, each to a separate client-base, as well as maintaining a high standard of quality.
      </article>
    <h3>Author Research</h3>
      <article> Designing product marketing and client engagement strategy eventually resulting in a successful pivot to an untapped market need.
      </article>
    <h3>Argive</h3>
      <article> A custom platform built to analyze large medical data sets received on weekly, monthly and quarterly basis to better project revenues for pharmaceutical companies.
      </article>

  <h2>Ongoing</h2>
    <h3>Alt Data ROI</h3>
      <article> Building out a playground for companies to assess alternative data capture ROI without investing significant time and money.
      </article>

      <h3>Python Playground</h3>
        <article> Testing out simple <a href="{{ url_for('plot') }}">python code</a> to play with datasets and webscraping.
        </article>

</div>

{%endblock%}
